<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Appointment Date and Time</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/styles.css}">
    </head>
    <body>
        <div class="card">
            <h1>Date and Time</h1>
            <h2>Select your desired schedule</h2>
            <form action="/schedule/submit" method="post">
                <label for="datetime">Choose Date & Time</label>
                <input type="datetime-local" id="datetime" name="datetime" required>
                <button type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>