<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Doctor</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Appointment's Consulting Room</h1>
        <h2>Choose the desired consulting room or doctor:</h2>
        <form action="/schedule/doctor" method="post" required>
            <label for="consulting_room">Choose a doctor:</label>
            <select name="consulting_room" id="consulting_room">
                <option 
                    th:each="doctor: ${doctors}" 
                    th:value="${doctor.id}" 
                    th:text="${doctor.room} + ' - ' + ${doctor.doctorName} + ', ' + ${doctor.specialization}"></option>
            </select>
            <button type="submit">Choose</button>
        </form>
    </body>
</html>