<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cancellation Succeeded</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
    <div class="card">
        <h1>Success!</h1>
        <p>The chosen appointment has been successfully cancelled.</p>
        <button onclick="location.href='/menu'">Return to Menu</button>
    </div>
</body>
</html>